body {
    background-color: black;
}

p {
    color: white;
   text-align: center;
   font-size: xx-large;
}

#avatar {
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}