@font-face {
  font-family: CustomFont;
  /* src: url('font/Monoton-Regular.ttf'); */
  src: url('font/RobotoMono-Bold.ttf');
}

body {
  font-family: CustomFont;
  background-color: black;
}

.container {
  position: absolute;
  height: 75%;
  top: 13%;
  left: 30%;
  display: flex;
  margin-left: 10%;
}

.card {
  display: flex;
  /* height: 280px;
  width: 200px; */
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.avatar {
  width: 600px;
  display: flex;
}

#avatar-img {
  display: flex;
  width: 125px;
  height: 125px;
}

.logo-name {
  padding-top: 1%;
  display: inline;
  color: rgb(183, 101, 252);
  font-size: 230%;
}

.information {
  display: inline-block;
  color: white;
}

section {
  width: 70%;
  margin-left: 3.5%;
  margin-top: 10%;
}

.information-title {
  font-size: 300%;
  width: 80%;
}

.description {
  font-size: 115%;
  font: bold;
  width: 80%;
}

button {
  background-color: rgb(196, 125, 254);
  border-radius: 5px;
  padding: 2% 10%;
  margin: 3%;
}

button:hover {
  background-color: rgb(183, 101, 252);
}

a {
  color: white;
  font: bold;
  font-size: 125%;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width: 1366px) {
  .container {
    position: absolute;
    height: 75%;
    top: 13%;
    left: 30%;
    display: flex;
    margin-left: 15%;
  }

  .avatar {
    width: 600px;
    display: flex;
  }

  #avatar-img {
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: 3%;
  }

  .logo-name {
    padding-top: 30px;
    display: inline;
    color: rgb(183, 101, 252);
    font-size: 175%;
  }

  section {
    width: 75%;
    margin-top: 5%;
  }

  .information-title {
    font-size: 200%;
    width: 80%;
  }
  
  .description {
    font-size: 100%;
    font: bold;
    width: 80%;
  }

  button {
    background-color: rgb(196, 125, 254);
    border-radius: 5px;
    padding: 2% 9%;
    margin: 2%;
  }

  a {
    font-size: 115%;
  }
}