@font-face {
    font-family: CustomFont;
    src: url('font/Monoton-Regular.ttf');
}

body {
    font-family: CustomFont;
    background-color: black;
}

p {
    background: linear-gradient(90deg, #ff4e4e, #018dff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: grayscale(100%);
    transition: filter 800ms;
    text-align: center;
    font-size: xx-large;
}

p:hover {
    filter: grayscale(0%);
}

#avatar {
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.badges {
    text-align: center;
}

.badge {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    padding: 0.5%;
}

@media screen and (max-width: 900px) {
    #avatar {
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10%;
    }
}